nav{
    padding: .9rem;
    background-color: rgb(41, 48, 5);
}

.contenedor-links{
    display: flex;
}
.contenedor-links span{
    margin-left: 1.4rem;
    letter-spacing: .2rem;
    font-size: .6rem;
}

.containerr{
    width: 100%;
    position: fixed;
    top: 0;
}

.contenedor-links span:hover{
    color: rgb(255, 255, 255);
    transform: scale(1.1,1.1);
}